@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.custom-toast {
  max-width: 90%;
  margin: 16px auto;
}

@media (min-width: 480px) {
  .custom-toast {
    max-width: 100%;
    margin: 16px auto;
  }
}



.swiper-button-prev,
.swiper-button-next {
  color: #55eecd !important;
  background-color: #0c0c0c !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}

.swiper-button-prev::after {
  margin-right: 3px;
}

.swiper-button-next::after {
  margin-left: 3px;
}

.swiper-pagination {
  top: unset !important;
  bottom: 0 !important;
}

.MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: unset !important;
}

.MuiInputBase-root.Mui-disabled .MuiSelect-select {
  -webkit-text-fill-color: unset !important;
  color: hsla(0, 0%, 100%, 0.6) !important;
  opacity: 1 !important;
  cursor: not-allowed;
}

@media (max-width: 420px) {

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px !important;
  }


  .swiper-button-prev,
  .swiper-button-next {
    width: 44px !important;
    height: 44px !important;
  }
}